/*
 * Copyright (c) 2023
 * Regis Rousseau
 * Univ Lyon, INSA Lyon, Inria, CITI, EA3720
 * SPDX-License-Identifier: Apache-2.0
 */

/* VREF internal voltage monitoring */
/* internal voltage reference of STM32, IN13 - see datasheet pp 42/149 */
/ {
	stm32_vref: stm32vref {
    	compatible = "st,stm32-vref";
		io-channels = <&adc1 13>;
		vrefint-cal-addr = <13>;
		vrefint-cal-mv = <1215>;
    	status = "okay";
	};
};

/* VBAT battery voltage monitoring - see datasheet pp 42/149 */
/* internal ADC channnel of STM32, IN14 */
/* ratio = 3 -> the converted digital value is 1/3 of vbat */
/ {
	stm32_vbat: stm32vbat {
    	compatible = "st,stm32-vbat";
    	io-channels = <&adc1 14>;
   		ratio = <3>;
    	status = "okay";
	};
};

/* enable the corresponding ADC, with the correct vref value (in mV) */
&adc1 {
	vbat-channel = <14>;
	vref-channel = <13>;
	vref-mv = <1215>;
	status = "okay";
};
